@import '../../styles/variables.sass'
	
.filters
	padding-top: 20px
	hr
		margin-bottom: 20px

.filtersTitle
	font-weight: 500
	font-size: 16px
	margin-bottom: 10px

.price
	margin-bottom: 34px
	div
		font-weight: 300
		font-size: 14px
		color: $color_2
		margin-bottom: 16px
		span
			font-weight: 500
			color: $color_1

.pricePicker
	input
		width: 100px
		height: 23px
		background: linear-gradient(90deg, rgba(255, 198, 80, 0.3) 0%, rgba(254, 202, 110, 0.3) 97.25%)
		border: none
		border-radius: 80px
		color: $color_2
		font-weight: 300
		font-size: 12px
		text-align: center
		&:first-child
			margin-right: 10px
		&:last-child
			margin-left: 10px

.manufacturerTitle
	font-weight: 500
	font-size: 16px
	margin-bottom: 15px

.manufacturerSearch
	margin-bottom: 15px

.manufacturerList
	list-style-type: none
	padding-left: 0
	margin-bottom: 10px
	cursor: pointer
	width: fit-content
	li
		color: $color_2	
		font-weight: 400
		font-size: 14px
		&:last-child
			margin-bottom: 15px
		span 
			font-size: 10px
	input
		margin-right: 10px

.manufacturerShowAll
	color: $color_2
	font-weight: 500
	font-size: 12px
	cursor: pointer
	margin-bottom: 20px
	span
		font-size: 10px

.buttons
	display: flex
	justify-content: space-between
	align-items: center
	margin-bottom: 40px

.buttonShow
	width: 170px
	height: 60px
	background-color: $color_3
	border-radius: 80px
	text-align: center
	color: #ffffff
	font-weight: 700
	font-size: 14px
	line-height: 60px
	cursor: pointer

.buttonDelete
	width: 60px
	height: 60px
	background-color: $color_3
	border-radius: 80px
	text-align: center
	line-height: 60px
	cursor: pointer

.careTypeList
	list-style-type: none
	padding-left: 0
	li
		margin-bottom: 15px
		font-weight: 500
		font-size: 16px
		text-transform: uppercase
		cursor: pointer